/*---------LOGIN PAGE---------*/
body#login {
  background-color:#32469c;
  color:#fff;
}
.simple-login-container{
  width: 300px;
  max-width:100%;
  margin: 50px auto;
}
.simple-login-container h2{
  text-align: center;
}
.simple-login-container .btn-login{
  background-color:#FF5964;
  color:#fff;
}
a{
  color:#fff;
} 