@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
background: #0f0f0f;
font-size: 16px;
line-height: 1.5;
font-family: 'Montserrat', Arial, sans-serif;
color: antiquewhite;
}
.container {
max-width: 1024px;
margin-left: auto;
margin-right: auto;
}
.menu {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(360px, 500px));
grid-gap: 1.5rem;
}
.menu-part {
display: grid;
grid-template-columns: 150px minmax(200px 280px) 60px;
grid-template-rows: autofill(30px 1fr);
grid-column-gap: 10px;
grid-template-areas:
"img menu-item price"
"img description .";
margin-top: 10px;
margin-bottom: 10px;
align-items: top;
}
img {
grid-area: img;
width: 100%;
min-width: 100px;
height: auto;
}
.menu-item {
grid-area: menu-item;
font-weight: bold;
}
.price::before {
content: "$";
font-weight: bold;
}
.price {
grid-area: price;
font-weight: bold;
}
.description {
grid-area: description;
margin: 0;
}

